.Button {
    cursor: pointer;
    font: inherit;
    color: white;
    border: 1px solid #37505a;
    background-color: #4d1601;
    border-radius: 6px;
    padding: 0.5rem 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Button:hover {
    background-color: navajowhite;
    border-color: white;
    font: inherit;
    color: black;
}